@import "./custom.scss";

@import "./App.scss";

//Componets
@import "./navbar.scss";
@import "../components/home/home.scss";
@import "../components/menu/menu.scss";
@import "../components/footer/footer.scss";
@import "../components/offcanvas/offcanvas.scss";

//Elements
@import "../elements/FancyButton.scss";
@import "../elements/Button.scss";
@import "../elements/Header.scss";
@import "../elements/InputWithIcon.scss";
@import "../elements/LocationSearch.scss";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Angkor&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

:root {
  box-sizing: border-box;
  font-size: 16px;
}

* ::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $background;
  font-family: "Raleway", sans-serif;
  color: #4e4b4b;
}
