@use "./custom.scss";
@import "./App.scss";

//Fonts
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Angkor&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

//Componets
@import "../components/navbar/navbar.scss";
@import "../components/home/home.scss";
@import "../components/menu/menu.scss";
@import "../components/footer/footer.scss";
@import "../components/offcanvas/offcanvas.scss";
@import "../components/details/details.scss";
@import "../components/modal/modal.scss";
@import "../components/details/customize.scss";
@import "../components/rewards/rewards.scss";
@import "../components/login/login.scss";

//Elements
@import "../elements/FancyButton.scss";
@import "../elements/Button.scss";
@import "../elements/Header.scss";
@import "../elements/InputWithIcon.scss";
@import "../elements/LocationSearch.scss";

:root {
  box-sizing: border-box;
  font-size: 16px;
}

* ::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $background;
  font-family: "Raleway", sans-serif;
  color: #4e4b4b;
}

//Error Page Styling
.error {
  margin-top: 3rem;

  @include media-breakpoint-up(lg) {
    margin-top: calc(3rem + 6px);
  }

  //Text Styling
  &-content {
    margin-top: 6px;
    font-size: 1.125rem;
    line-height: 120%;

    @include media-breakpoint-up(lg) {
      font-size: 1.25rem;
    }
  }

  //Image Styling
  &-image {
    & > img {
      width: 216px;
      height: auto;

      @include media-breakpoint-up(lg) {
        width: 299px;
      }
    }
  }

  &-button {
    margin-top: 4.5rem;
    & > button {
      padding: 1.25rem 2.25rem;
      & > a {
        font-size: 1.5rem;

        @include media-breakpoint-up(lg) {
          font-size: 1.75rem;
        }
      }
    }
  }
}
