.history {
  margin-top: 2.75rem;

  @include media-breakpoint-up(lg) {
    margin-top: 5.25rem;
  }
  &-image {
    & > img {
      width: 100%;
      border-radius: 2px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
        0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }

  & > p {
    margin-top: 1.75rem;
    line-height: normal;

    @include media-breakpoint-up(lg) {
      font-size: 1.125rem;
      margin-top: 2.25rem;
    }
  }
}

//Values Styling
.values {
  margin-top: 3rem;
  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }
  & > h2 {
    color: $well-done;
    font-size: 2.25rem;
    margin: 0;
  }
}

//Contact Styling
.contact {
  margin-top: 5.25rem;

  @include media-breakpoint-up(lg) {
    margin-top: 3.75rem;
  }

  & > form {
    margin-top: 2.25rem;
  }
}
