.button {
  text-align: center;
  background-color: $steak-dark-red;
  transition: all 100ms ease-in-out;
  color: $white;
  border-radius: 1px;
  padding: 0.5rem 0;
  border: none;

  &:hover {
    background-color: darken($color: $steak-dark-red, $amount: 10%);
  }
  & > a,
  & > span {
    color: $white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.8rem 1.5rem;
    width: 100%;
    min-width: 100%;
    @include media-breakpoint-up(xl) {
      font-size: 1.125rem;
    }
  }
}

.jumbotron-button {
  margin-bottom: 0rem;
  @include media-breakpoint-up(xl) {
    margin-bottom: 1.7rem;
  }
}

.nutrient-info {
  margin-top: 2.25rem;
  padding: 0.5rem 0;
  & > a {
    padding: 0.5rem 0.25rem;
    width: 100%;
  }
}

.add-more-modal-btn {
  font-size: 1.25rem;
  padding: 0;
  display: flex;

  & > a {
    width: 100%;
    padding: 1rem auto;
  }
}

.cart-btn {
  margin-top: 0.75rem;
  padding: 0.25rem 0.4rem;
}

.rewards-button {
  & > a {
    font-size: 1.25rem;
    padding: 9px 27px;
  }
}

.login-button {
  padding: 14px 0;
  & > span,
  & a {
    font-size: 1.5rem;
    padding: 14px 50px;
  }
}

.create-button {
  padding: 14px 0px;

  & > span,
  & a {
    font-size: 1.5rem;
  }
}

.address-checkout {
  margin-top: 51px;
  padding: 14px 0;
  @include media-breakpoint-up(lg) {
    margin-top: 2rem;
  }

  & > a {
    padding: 14px 2rem;
    font-size: 1.5rem;
    width: 100%;
  }
}

.checkout-add-more {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin-bottom: -0.5rem;
  & > a {
    font-size: 1.5rem;
    padding: 14px 41px;

    @include media-breakpoint-up(lg) {
      font-size: 28px;
      padding: 16px 41px;
    }
  }
}
