.button {
  text-align: center;
  background-color: $steak-dark-red;
  transition: all 100ms ease-in-out;
  color: $white;
  border-radius: 1px;
  padding: auto 1.5rem;
  border: none;

  &:hover {
    background-color: darken($color: $steak-dark-red, $amount: 10%);
  }
  & > a,
  & > span {
    color: $white;
    text-decoration: none;
    font-weight: bold;
    padding: 0 0.8rem;

    @include media-breakpoint-up(xl) {
      font-size: 1.125rem;
    }
  }
}

.jumbotron-button {
  margin-bottom: 0rem;
  @include media-breakpoint-up(xl) {
    margin-bottom: 1.7rem;
  }
}

.nutrient-info {
  margin-top: 2.25rem;
}

.add-more-modal-btn {
  font-size: 1.25rem;
  padding: 0.5rem 0.875rem;
}

.cart-btn {
  margin-top: 0.75rem;
  padding: 0.25rem 0.4rem;
}

.rewards-button {
  padding: 9px 27px;

  & > a {
    font-size: 1.25rem;
  }
}

.login-button {
  padding: 14px 50px;

  & > span {
    font-size: 1.5rem;
  }
}
