@import "../styles/custom.scss";

.fancy-button {
  font-family: "Lobster", sans-serif;
  text-align: center;
  border: 2px solid $steak-dark-red;
  background-color: transparent;
  transition: all 100ms ease-in-out;
  padding: 12rem auto;
  border-radius: 0.25rem;
  transition: all 100ms ease-in-out;
  text-decoration: none;
  font-size: 2rem;
  color: $steak-rare;
  padding: 12rem auto;

  &:hover {
    scale: 1.03;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      inset 0px 4px 0px rgba(0, 0, 0, 0.15);
    border-color: lighten($color: $steak-dark-red, $amount: 20%);

    & > a {
      color: lighten($color: $steak-rare, $amount: 5%);
      text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }

  & > a {
    transition: all 100ms ease-in-out;
    text-decoration: none;
    font-size: 2rem;
    color: $steak-rare;
    padding: 12rem auto;
  }

  //Navbar Button Styling
  &.navbtn {
    max-width: 200px;
  }
  //Home Order Now Button Styling
  &.home-order-now-btn {
    margin-top: 0.5rem;
    padding: 0.5rem 0;
    width: auto;

    @include media-breakpoint-up(lg) {
      margin-top: 1.1rem;
      font-size: 4rem;
      padding: 1.5rem 2.5rem;
      padding: 0.5rem 3rem;
      font-size: 2.5rem;
    }
    & > a {
      padding: 0.5rem 3rem;
      font-size: 2.5rem;

      @include media-breakpoint-up(lg) {
        font-size: 4rem;
        padding: 1.5rem 2.5rem;
      }
    }
  }

  &.oc-buttons {
    padding: 0.75rem 3.75rem;
    display: flex;
    gap: 1.56rem;
    justify-content: center;
    align-items: center;
    width: auto;

    & > a {
      display: flex;
      gap: 1.56rem;
      align-items: center;
    }
  }
}
