.title-header {
  border-bottom: 3px solid $steak-dark-red;
  max-width: 296px;
  text-align: center;

  @include media-breakpoint-up(lg) {
    max-width: 631px;
  }

  & > h1 {
    font-size: 3rem;
    color: $steak-dark-red;
    font-family: "Lobster", sans-serif;
    margin-bottom: -0.6rem;

    @include media-breakpoint-up(xl) {
      font-size: 4rem;
    }
  }

  &.page-header {
    margin-top: 2rem;

    @include media-breakpoint-up(lg) {
      margin-top: 6.87rem;
    }
  }
}
