//Login Form Styling
.login-form,
.sign-up-form {
  margin-top: 2rem;

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }

  & > form {
    & > div:not(.remember-password) {
      margin-top: 2rem;
    }

    & > div.remember-password {
      margin-top: 0.875rem;

      & > div:nth-of-type(1) {
        display: flex;
        justify-content: flex-end;

        & > a {
          color: $steak-dark-red;
        }
      }
    }
  }
}

.sign-up-form {
  @include media-breakpoint-up(lg) {
    margin-top: 4rem;
  }
}

.login-container {
  @include media-breakpoint-up(lg) {
    margin-top: 4rem;
  }
}

//Checkbox Styling
.remember-login-checkbox {
  user-select: none;
  width: 27px;
  height: 27px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid $dark-white;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 6px;
  font-size: 1.125rem;

  & input:checked {
    border-color: $lime-green;
  }

  .checkmark {
    background-color: $white;
    font-size: 25px;
    line-height: 0;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
    }
  }

  & input:checked + .checkmark {
    color: $lime-green;
  }

  & > input {
    display: none;
  }
}

//OR Styling
.or {
  margin-top: 1.5rem;
  font-size: 2rem;
  color: $dark-blue;

  & > p {
    margin: 0;
  }
}

//Sign up Styling
.sign-up {
  @include media-breakpoint-up(lg) {
  }
  & > div > h2 {
    margin-top: 2.5rem;
    color: $well-done;
    font-size: 2rem;
    @include media-breakpoint-up(lg) {
      margin-top: 2rem;
    }
  }
  & > div > p {
    line-height: 106%;
    max-width: 335px;
    margin-top: -0.3rem;
    margin-bottom: 0;
  }
}

//Perk List Styling
.perk-list {
  margin-top: 2rem;

  @include media-breakpoint-up(lg) {
    margin-top: 2.5rem;
  }

  & > ul {
    margin-top: 30px;
    display: flex;
    flex-flow: column nowrap;
    gap: 14px;
    list-style-image: url("src/assets/list-icon.png");

    & > li::marker {
      list-style-image: url("../../assets/arrow_back.png");
    }
  }
}

//sign up form styling
.contact-info,
.personal-info {
  & > div.input-without {
    margin-top: 1rem;
  }
}

hr.form-section {
  margin-top: 39px;
  border-top: 3px solid $well-done;
  opacity: 1;

  @include media-breakpoint-up(lg) {
    margin-top: 5rem;
  }
}
