.menu-offcanvas {
  padding: 1.5rem;
  & > div.offcanvas-button {
    display: flex;
    justify-content: s;
    & > button {
      margin-left: auto;
      background-color: transparent;
      color: $dark-blue;
      border: none;
      font-size: 2.2rem;
      font-weight: bold;
    }
  }

  & > div.offcanvas-title {
    text-align: center;

    & > h1 {
      font-size: 1.5rem;
      color: $well-done;
    }
  }

  & > div.delivery,
  & > div.location {
    margin-top: 2rem;
    display: flex;
    flex-flow: column nowrap;
    gap: calc(4rem - 2px);
    & > p {
      margin: 0;
      font-size: 2rem;
    }

    & i {
      font-size: 31px;
    }
  }

  & > div.location {
    & > div:nth-child(1) {
    }
  }
}

.cart {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;

  &-purchases {
    flex: auto;
  }
  &-total:not(.checkout) {
    border-top: 3px solid $well-done;
    padding-top: 0.75rem;
    display: flex;
    flex-flow: column nowrap;

    & > div.cart-discount {
      h4 {
        color: $well-done;
        font-size: 1.25rem;

        & > span {
          color: $dark-gray;
          margin-left: 10px;
          font-family: "Raleway", sans-serif;
        }
      }
    }
  }
}
